.bio {
	/*background-color: #9999aa;*/
	/*height: 100%;*/
}
.bio-bottom {
	height: 5%;
}
.bio-middle {
	height: 2%;
}
.bio-pic {
	background-color: #8DB7C7;
	
	border: 10px solid #8DB7C7;
	border-radius: 10px;
}
.bio-text {
	background-color: #daefff;
	color: #385561;
	padding: 3% 3% 3% 3%;
	border: 10px solid #8DB7C7;
	border-radius: 10px; 
}
.bio-top {
	height: 5%;
}