.bio {
	/*background-color: #9999aa;*/
	height: 100%;
}
.bio-bottom {
	height: 5%;
}
.bio-middle {
	height: 5%;
}
.bio-pic {
	background-color: #8DB7C7;
	
	border: 10px solid #8DB7C7;
	border-radius: 10px;
}
.bio-text {
	background-color: #8DB7C7;
	color: #385561;
	height: 40%;
	padding: 5%;
	border: 20px solid #8DB7C7;
	border-radius: 10px;
}
.bio-top {
	height: 5%;
}