.page-header {
	background-color: #999999;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 1px;
}
.bio {
	background-color: #555555;
	height: 100%;
}
.samples {
	background-color: #5555dd;
	height: 100%;
}