body {
	background-color: #97CADE;
}
.container-fluid {
	margin: 0 2%;
}
p {
	font-size: 2.15vmin;
}
.page-footer {
	background-color: #8DB7C7;
	color: #385561;
	padding-top: 10px;
	padding-bottom: 1px;
	text-align: center;
}
.page-header {
	background-color: #8DB7C7;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 1px;
	padding-left: 20px;
	color: #385561;
}