button {
	height: 5%;
	width: 70px;
	margin: 0 2%;
}
.img-responsive-height {
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
}
.samples {
	background-color: #5555aa;
	height: 100%;
}
.samples-buttons {
	text-align: center;
	padding: 5%;
}
.samples-photo {
	height: 75%;
	text-align: center;
}
.samples-top {
	height: 10%;
}