button {
	height: 50px;
	width: 70px;
}
.full-screen {

}
.samples {
	background-color: #5555aa;
	height: 100%;
}
.samples-top {
	height: 5%;
}
.triangleLeft {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 10px solid black;
	border-bottom: 5px solid transparent;
	margin: 10px 20px;
}
.triangleRight {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid black;
	border-bottom: 5px solid transparent;
	margin: 10px 20px;
}