button {
	width: 16%;
	margin: 0 2%;
}
.samples {
	/*background-color: #95c8dc;*/
	/*height: 100%;*/
}
.samples-buttons {
	text-align: center;
	padding: 5%;
}
.samples-photo {
	background-color: #8DB7C7;
	text-align: center;
	border: 20px solid #8DB7C7;
	border-radius: 10px;
}
.samples-top {
	height: 10%;
}